@font-face {
  font-family: "font1";
  src: url(./font/SourceSansPro-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "font1", sans-serif;
}
.sec1 {
  display: flex;
  height: 75vh;
  border: 1px solid lightgray;
}
.s1t {
  width: 50%;
  padding: 230px 30px;
}
.s1t h1 {
  padding: 15px 0;
  font-size: 3rem;
  font-weight: 100;
}
.s1t p {
  line-height: 25px;
}
.btn {
  margin: 20px 0;
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: 20px;
  text-transform: uppercase;
  background: white;
  font-size: 0.65rem;
  transition: 0.3s;
}
.btn:hover {
  background: lightgray;
}
.img1 {
  background: url(./images/banner-1.jpg) right/cover;
  width: 50%;
}
.sec2 {
  display: flex;
  height: 50vh;
}
.img2 {
  background: url(./images/banner-2.jpg) center/cover;
  width: 45%;
}
.s2t {
  width: 55%;
  padding: 120px 30px;
}
.s2t h2 {
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 100;
}
.s2t p {
  line-height: 25px;
}
.sec3 {
  display: flex;
  height: 50vh;
  border: 1px solid lightgray;
}
.s3t {
  width: 55%;
  padding: 120px 30px;
}
.s3t h2 {
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 100;
}
.s3t p {
  line-height: 25px;
}
.img3 {
  background: url(./images/banner-3.jpg) center/cover;
  width: 45%;
}
.form{
  position: relative;
}
.form h2 {
  text-align: center;
  padding: 55px 0;
  font-size: 2rem;
  font-weight: 100;
}
.form::after{
  content: "";
  position: absolute;
  border-bottom: 1px solid lightgray;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.grid {
  width: 40%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 40px 150px 1fr;
  grid-template-areas:
    "name mail"
    "inp1 inp2"
    "message message"
    "area area"
    "btn btn";
    gap: 10px;
}
.grid :nth-child(1) {
  grid-area: name;
  font-weight: bold;
  text-align: center;
  height: 20px;
  font-size: 0.75rem;
}
.grid :nth-child(2) {
  grid-area: mail;
  font-weight: bold;
  text-align: center;
  height: 20px;
  font-size: 0.75rem;
}
.grid :nth-child(3) {
  grid-area: inp1;
  height: 35px;
}
.grid :nth-child(4) {
  grid-area: inp2;
  height: 35px;
}
.grid :nth-child(5) {
  grid-area: message;
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
  margin: 20px;
}
.grid :nth-child(6) {
  grid-area: area;
  resize: none;
}
.grid :nth-child(7) {
  grid-area: btn;
  width: 20%;
  margin: 0 auto;
  height: 30px;
}
.networks{
  text-align: center;
  display: flex;
  justify-content: center;
}
.networks div{
  margin: 60px 40px;
  width: 30px;
  height: 30px;
  border: 1px solid lightgray ;
  border-radius: 50%;
}
.networks i{
  padding: 7px;
}
