@font-face {
  font-family: "font1";
  src: url(./font/SourceSansPro-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "font1", sans-serif;
}
.sec1 {
  display: flex;
  align-items: center;
  height: 75vh;
  border: 1px solid lightgray;
}
.s1t {
  width: 50%;
  padding: 0 30px;
}
.s1t h1 {
  padding: 15px 0;
  font-size: 3rem;
  font-weight: 100;
}
.s1t p {
  line-height: 25px;
}
.btn {
  margin: 20px 0;
  padding: 10px 15px;
  border: 1px solid lightgray;
  border-radius: 20px;
  text-transform: uppercase;
  background: white;
  font-size: 0.65rem;
  transition: 0.3s;
}
.btn:hover {
  background: lightgray;
}
.img1 {
  background: url(./images/banner-1.jpg) right/cover;
  width: 50%;
  height: 100%;
}
.sec2 {
  display: flex;
  align-items: center;
  height: 50vh;
}
.img2 {
  background: url(./images/banner-2.jpg) center/cover;
  height: 100%;
  width: 45%;
}
.s2t {
  width: 55%;
  padding: 0 30px;
}
.s2t h2 {
  padding: 15px 30px;
  font-size: 2rem;
  font-weight: 100;
}
.s2t p {
  line-height: 25px;
}
.sec3 {
  display: flex;
  align-items: center;
  height: 50vh;
  border: 1px solid lightgray;
}
.s3t {
  width: 55%;
  padding: 0px 30px;
}
.s3t h2 {
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 100;
}
.s3t p {
  line-height: 25px;
}
.img3 {
  background: url(./images/banner-3.jpg) center/cover;
  height: 100%;
  width: 45%;
}
.form{
  position: relative;
}
.form h2 {
  text-align: center;
  padding: 55px 0;
  font-size: 2rem;
  font-weight: 100;
}
.form::after{
  content: "";
  position: absolute;
  border-bottom: 1px solid lightgray;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.grid {
  width: 40%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 40px 150px 1fr;
  grid-template-areas:
    "name mail"
    "inp1 inp2"
    "message message"
    "area area"
    "btn btn";
    gap: 10px;
}
.grid :nth-child(1) {
  grid-area: name;
  font-weight: bold;
  text-align: center;
  height: 20px;
  font-size: 0.75rem;
}
.grid :nth-child(2) {
  grid-area: mail;
  font-weight: bold;
  text-align: center;
  height: 20px;
  font-size: 0.75rem;
}
.grid :nth-child(3) {
  grid-area: inp1;
  height: 35px;
}
.grid :nth-child(4) {
  grid-area: inp2;
  height: 35px;
}
.grid :nth-child(5) {
  grid-area: message;
  font-weight: bold;
  text-align: center;
  font-size: 0.75rem;
  margin: 20px;
}
.grid :nth-child(6) {
  grid-area: area;
  resize: none;
}
.grid :nth-child(7) {
  grid-area: btn;
  width: 130px;
  margin: 20px auto;
}
.networks{
  display: flex;
  align-items: center;
  justify-content: center;
}
.networks div{
  margin: 60px 40px;
  width: 40px;
  height: 40px;
  border: 1px solid lightgray ;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.networks div:hover{
  background: lightgray;
}
 
@media (max-width:900px) {
  .sec1 {
    height: 50vh;
  }
  .s1t h1{
    font-size: 2rem;
  }
  .s1t p{
    font-size: 0.75rem;
  }
  .btn{
    font-size: 0.55rem;
  }
  .s2t h2 {
    font-size: 1.5rem;
  }
  .s2t p {
    line-height: 25px;
    font-size: 0.75rem;
  }
  .s3t h2 {
    font-size: 1.5rem;
  }
  .s3t p {
    line-height: 25px;
    font-size: 0.75rem;
  }
  .form h2
  {
    font-size: 1.5rem;
  }
  .grid{
    width: 340px;
    padding: 30px;
  }
  .grid span{
    font-size: 0.6rem;
  }
  .networks div{
    width: 25px;
    height: 25px;
  }
  .networks i{
    font-size: .8rem;
  }
}
@media (max-width:600px) {
  .sec1{
    flex-direction: column;
    justify-content: center;
    width: 99.5%;
    height: 100vh;
    border-right: 0px;
    }
  .s1t{
    width: 80%;
    padding: 0;
    margin: 25% auto;
    height: 50%;
  }
  .img1{
    height: 50%;
    width: 100%;
  }
  .sec2{
    flex-direction: column;
    justify-content: center;
    width: 99.9%;
    height: 50vh;
  }
  .s2t{
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }
  .sec3{
    flex-direction: column;
    justify-content: center;
    width: 99.9%;
    height: 50vh;
    border-right: 0px;

  }
  .s3t{
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }
  .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid{
    gap: 2px;
    margin: 0;
  }
  .networks div {
    margin: 60px 20px;
  }

}